# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

STUFFTODO.md

# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Production
/build
.vite.config.js

# Misc directories
/public/icons/
/scripts/
.vscode

# System files
.DS_Store

# Environment files
.env*.local
.env.development
.env.test
.env.production

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
