.credits-content {
  color: var(--text-color);
  margin-left: 25px;

  h1 {
    font-family: "Montserrat";
  }

  li {
    margin-left: -15px;
    margin-top: 2px;
  }

  ul {
    margin-top: 4px;
    margin-bottom: 25px;
  }

  strong {
    font-family: "Montserrat";
    font-size: large;
  }
}
