.pinlist-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    position: fixed;
    bottom: 5em;
    width: fit-content;
    height: fit-content;
    max-height: 80vh;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0px 0px 25px 1px #000000;
    backdrop-filter: blur(10px);
    background-color: color-mix(in srgb, var(--background-color) 40%, transparent);
    outline: 3px solid var(--switch-outline);
    z-index: 20000;
    transition: all 0.2s ease-in-out;
    padding: 15px;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    transform: translateX(-20px);
}

.pinlist-container.open {
    opacity: 1;
    visibility: visible;
    left: 0;
    transform: translateX(0);
}

