.percent-0 {
    background-color: #d22d2d;
}

.percent-10 {
    background-color: #ff4800;
}

.percent-20 {
    background-color: #ff6a00;
}

.percent-30 {
    background-color: #ff9100;
}

.percent-40 {
    background-color: #ffb700;
}

.percent-50 {
    background-color: #ffe100;
}

.percent-60 {
    background-color: #e9e209;
}

.percent-70 {
    background-color: #ccff00;
}

.percent-80 {
    background-color: #81ec00;
}

.percent-90 {
    background-color: #22ff00;
}

.percent-100 {
    background-color: #429aff;
}

.percent-over100 {
    background: linear-gradient(
        90deg,
        #ff61d5 0%,
        #8ea8ff 20%,
        #61ffb0 40%,
        #ffd863 60%,
        #ff7e7e 80%,
        #937dff 100%
        );
}

.percent-0,
.percent-10,
.percent-20,
.percent-30,
.percent-40,
.percent-50,
.percent-60,
.percent-70,
.percent-80,
.percent-90,
.percent-100,
.percent-over100 {
    width: 50px !important;
    padding-left: 3px;
    padding-right: 3px;
    color: black !important;
    font-weight: bold;
    vertical-align: middle;
    border-left: 2px solid var(--background-color);
    border-right: 2px solid var(--background-color);
}

.table-wrapper table {
    width: 100%;
    border-collapse: collapse;
    text-align: centerlayer;
    position: relative;
    z-index: 0;
    border: none;
    text-align: center;
    border-bottom: 2px solid var(--background-color);
}

.table-header {
    font-family: var(--header-font);
    font-size: 1.3rem;
    letter-spacing: 0px;
    text-align: center;
    font-weight: bolder;
    -webkit-text-stroke: 4px black;
    text-stroke: 4px black;
    paint-order: stroke fill;
    color: white;
    background: transparent;
}

.table-wrapper th {
    background: var(--background-color);
    padding: 4px;
    line-height: 1.5;
    vertical-align: middle;
    text-align: center;
    text-wrap: nowrap;
    border: none;
}

.table-wrapper table td {
    line-height: 1.1;
}

.nv-comp-check {
    position: absolute;
    color: white !important;
    background-color: #4caf50;
    width: 27px;
    height: 27px;
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
    outline: 2px solid black;
}

.name-column {
    font-size: 15px;
    width: fit-content !important;
    text-align: left;
    text-wrap: stable;
    letter-spacing: 0px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    font-weight: bolder;
    color: white;
    z-index: 1;
    -webkit-text-stroke: 3px black;
    text-stroke: 3px black;
    paint-order: stroke fill;
}

.ore-icon {
    width: 25px;
    height: 25px;
    margin-right: 6px;
    vertical-align: middle;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}

.ore-icon#wheel {
    width: 40px;
    height: 40px;
    margin-right: 6px;
    vertical-align: middle;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}

.v-inventory-cell {
    position: relative;
    padding: 2px 6px;
}

.v-inventory-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    font: inherit;
    color: inherit;
    text-align: center;
    margin: 0;
}

.value-display {
    visibility: hidden;
    display: inline-block;
    padding: inherit;
}

.inventory-input:focus {
    outline: 3px solid (--accent-color);
    outline-offset: 0px;
    background-color: rgba(255, 255, 255, 0.1);
}

.inventory-input:hover:not(:focus) {
    background-color: rgba(255, 255, 255, 0.05);
}

.inventory-input {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.table-footer {
    width: 100%;
    text-align: left;
    margin-top: 1em;
    p {
        margin-bottom: -3px;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
