.card {
    width: fit-content;
    max-width: 650px;
    height: 500px;
    background-image: linear-gradient(
        135deg,
        #fdfcef 0%,
        #d3f8f8 20%,
        #faedfd 30%,
        #f2caff 37.5%,
        #ffffff 50%,
        #ffd9a1 62.5%,
        #edebd6 70%,
        #ecf9df 80%,
        #b7dce1 100%);
    transition: all 0.3s;
    padding: 0.25em;
    p {
        margin-bottom: -3px;
        margin-left: -10px;
    }
}

.card-interior {
    width: fit-content;
    max-width: 640px;
    height: 100%;
    overflow-y: scroll;
    background-color: var(--background-color);
    transition: all 0.2s;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    color: var(--text-color);
}

.card#card1 {
    overflow-x: hidden;
}

.card-interior#card1 p {
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-interior:hover {
    transform: scale(0.98);
}

.card:hover {
    box-shadow: 0px 0px 10px 0px
        linear-gradient(
        135deg,
        #fdfcef 0%,
        #d3f8f8 20%,
        #faedfd 30%,
        #f2caff 37.5%,
        #ffffff 50%,
        #ffd9a1 62.5%,
        #edebd6 70%,
        #ecf9df 80%,
        #b7dce1 100%
        );
}

@media (max-width: 720px) {
    .card {
        max-width: 400px;
    }

    .card-interior {
        width: 400px;
    }


    .table-wrapper#misc {
        transform: scale(0.9);
        transform-origin: top left;
        margin-left: -1em;
        width: 400px;
    }
}
