nav {
  top: 15px;
  right: 75px;
  width: 165px;
  height: fit-content;
  justify-content: space-between;
  font-family: "Montserrat";
  position: fixed !important;
  padding: 12px;
  z-index: 2;
  background-color: var(--background-color);
  border: 3px solid var(--switch-outline);
  border-radius: 15px;
  cursor: pointer;
  font-size: 20px;
  transition: all 0.1s ease-out;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 5px;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
}

nav ul li a {
  text-decoration: none;
  color: var(--accent-color);
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

.dropdown-menu {
  direction: flex;
  flex-direction: column;
  margin-top: 15px;
}

.nav-h {
  color: var(--switch-outline);
}
