.nav-bar {
    z-index: 15000;
    font-size: 24px;
    padding: 0.55em;
    display: flex;
    flex-direction: column;
    justify-content: left;
    top: 0;
    left: 0;
    width: fit-content;
    height: fit-content;
    position: fixed !important;
    background-color: var(--background-color);
    border: 2px solid var(--switch-outline);
    @media (max-width: 720px) {
        flex-direction: row;
        gap: 8px;
        padding: 0.33em;
    }
}

.nav-bar-item {
    display: flex;
    flex-direction: row !important;
    justify-content: left;
    width: 100%;
    cursor: pointer; 
}

.hide {
    display: block;
}

.hide * {
    text-decoration: none;
}

.hide span {
    display: none;
    margin-left: 5px;
    opacity: 0;
}

.hide:hover span {
    display: inline-block;
    opacity: 1.0;
}
