.ore-spinner-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: top;
  justify-content: center;
  margin: 0 auto;
  padding: 40px;
  max-width: 200%;
  position: relative;
  overflow: hidden;
  transform: scale(1);
}

.wheel-container {
  position: relative;
  margin-top: 40%;
  margin-left: 10vw;
  width: 600px;
  height: 550px;
  transform: scale(1.5);
}

.spin-button {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  width: 5vw;
  height: 5vh;
  font-size: 1vw;
  border-radius: 10%;
  color: var(--text-col);
  background: var(--background-color);
  border: 0.2vw solid var(--switch-outline);
  font-weight: bold;
  cursor: pointer;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0px 0.8vw 0.8vw rgba(0,0,0,0.4);
}

.spin-button:disabled {
  background: #ccc;
  cursor: not-allowed;
}

.close-button {
  position: absolute;
  top: 7px;
  right: 7px;
  background: transparent;
  border: none;
  font-size: 30px;
  cursor: pointer;
  color: #707070;
  padding: 0 7px;
}

.close-button:hover {
  position: absolute;
  top: 7px;
  right: 7px;
  background: transparent;
  border: none;
  font-size: 35px;
  cursor: pointer;
  color: #cdcdcd;
  padding: 0 7px;
}

.selected-ore {
  position: fixed;
  top: 60%;
  left: 53%;
  margin: 0 auto;
  height: 250px;
  width: 350px;
  position: fixed;
  transform: translate(-75%, -85%) scale(0.75);
  text-align: center;
  z-index: 100;
  border: 0.3vw solid var(--switch-outline);
  background-color: var(--background-color);
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  border-radius: 25px;
  box-shadow: 0 0 0 4px white, 0 0 30px rgba(0, 0, 0, 0.5);
}

.selected-ore-display {
  padding: 15px;
  border-radius: 25px;
  font-size: 30px;
  font-weight: bold;
  color: black;
  animation: pulse 1.5s infinite alternate;
}

.ore-stats {
  margin-top: 1.5vw;
  margin-bottom: -1.5vw;
  font-size: 25px;
}

@keyframes pulse {
  from {
    box-shadow: 0 0 0 0.3vw white, 0 0 2vw rgba(0, 0, 0, 0.5);
  }
  to {
    box-shadow: 0 0 0 0.5vw rgba(255, 255, 255, 0.7), 0 0 3vw rgba(0, 0, 0, 0.7);
  }
}