/* RareFindsTracker.css */

/*
@keyframes slideSlowly {
0% { transform: translateX(0); }
100% { transform: translateX(1000px); }
}

.patic img {
animation: slideSlowly 1s linear infinite alternate;
}
*/

.row-container#rares .box {
    background: rgba(21, 118, 254, 0.5);
    padding: 15px 25px;
    width: fit-content;
    text-align: center;
    border: 3px solid var(--switch-outline);
}

.row-container#rares .box#super-rare {
    background: rgba(156, 39, 176, 0.5);
}

.count-btn {
    width: 25px;
    height: 25px;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--switch-outline);
}

.count-btn.decrement {
    background-color: #ff3b30;
    color: white;
    margin-left: 4px;
}

.count-btn.decrement:hover {
    background-color: #ff6d5a;
}

.count-btn.increment {
    background-color: #34c759;
    color: white;
    margin-left: 4px;
    margin-right: 4px;
}

.count-btn.increment:hover {
    background-color: #41ffa4;
}

