.c-modal-overlay {
  position: fixed;
  margin: 0 auto;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.c-modal-overlay .box-button {
  width: 10vw;
}

.c-editor-popup {
  position: fixed;
  top: 25%;
  z-index: 10000;
  background-color: var(--background-color);
  color: var(--text-color);
  width: fit-content;
  height: fit-content;
  border-radius: 20px;
  border: 3px solid var(--switch-outline);
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.c-editor-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  margin-right: 10px;
}

.c-editor-header h3 {
  margin: 0;
  font-size: 1.5em;
}

.c-csv-output {
  flex: 1;
  width: 95%;
  height: 75%;
  padding: 16px;
}

.c-csv-output textarea {
  position: relative;
  width: 45vw;
  height: 35vh;
  resize: both;
  margin-bottom: 0px;
  font-size: 1.5em;
  border: 2px solid #000000;
  padding: 10px;
  border-radius: 8px;
  font-family: monospace;
}

.c-editor-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 10px;
}

.c-editor-buttons button {
  cursor: pointer;
  background-color: var(--button-bg);
  color: var(--button-text);
  transition: all 0.2s ease;
}

.c-editor-buttons button:hover {
  background-color: var(--button-hover);
}