
.settings-panel {
  position: fixed;
  top: 0;
  right: -40vw;
  width: 40vw;
  height: 100vh;
  background-color: var(--background-color);
  opacity: 1;
  box-shadow: -5px 0px 25px 1px #000000;
  color: var(--text-color);
  z-index: 10000;
  -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -ms-transition: all 0.1s ease-out;
      -o-transition: all 0.1s ease-out;
        transition: all 0.1s ease-out;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
}

.settings-panel.open {
  right: 0;
}

.settings-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.settings-title {
  margin: 0;
}

.settings-section {
  margin-bottom: 5px;
}

.section-title {
  color: var(--accent-color);
  font-family: 'Montserrat';
  border-bottom: 1px solid #444;
  padding-bottom: 5px;
}

.theme-control {
  display: flex;
  align-items: center;
  gap: 10px;
}

.opacity-control {
  margin-bottom: 20px;
}

.opacity-label {
  display: block;
  margin-bottom: 10px;
}

.opacity-slider {
  width: 100%;
}

.file-input {
  display: none;
}

.upload-button {
  display: block;
  padding: 10px;
  background-color: #333;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 15px;
  color: white;
}

.action-buttons {
  margin-bottom: 15px;
  display: flex;
  gap: 10px;
  width: 80%;
}

.apply-button {
  flex: 1;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Comfortaa';
}

.reset-button {
  flex: 1;
  padding: 10px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Comfortaa';
}