.container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    position: relative;
}

/* Header Section */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: -200px;
}

.quick-summary {
    text-align: left;
    font-size: 20px;
    font-weight: bold;
}

.quick-summary h2 {
    margin-top: -15px;
    margin-bottom: 10px;
}

.quick-summary p {
    margin: 5px 0;
}

nav {
  position: fixed; /* Stays at the top even when scrolling */
  top: 0;
  right: 0;
  padding: 25px;
  z-index: 1000;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

.value-buttons, .mode-buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.tables-container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding: 25px;
}

.table-wrapper {
    flex: 1 1 calc(33.333% -50px);
    min-width: 400px;
    overflow-x: auto;
    border: 2px solid #000000;
    border-radius: 25px;
    box-shadow: 0 6px 7px rgba(0, 0, 0, 0.47);
    padding: 15px;
    display: inline;
    height: fit-content;
}

.table-wrapper h2 {
    text-align: center;
    padding: 5px;
    margin: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 17px;
}

th, td {
    border: 1px solid #e0e0e0;
    padding: 0px;
    text-align: center;
    height: auto;
}

th {
    background-color: #f4f4f4;
}

button {
    align-items: left;
    background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
    border: 10;
    border-radius: 15px;
	/*-webkit-text-stroke: 1px #F8F8F8;*/
	text-shadow: 2px 2px 6px #000000;
    box-shadow: rgba(0, 0, 0, 0.3) 7px 6px 6px;
    box-sizing: border-box;
    color: #ffffff;
    display: flex;
    font-size: 25px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 125px;
    padding: 5px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all 0.3s;
}

button:active,
button:hover {
    outline: 0;
}

button span {
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}

button:hover span {
    background: none;
}

button:active {
    transform: scale(0.9);
}