

/* Global Styles */
body {
  transition: background-image 0.5s ease;
  background-color: var(--background-color);
  font-family: 'Comfortaa';
  font-weight: 700;
  margin: 0;
  /*background-color: var(--background-color);*/
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

li {
  margin-bottom: 10px;
}

/* Light Theme */
:root {
  --background-color: #ffffff !important;
  --text-color: #000000 !important;
}

/* Dark Theme */
[data-theme="dark"] {
  --background-color: #1e1e1e !important;
  --text-color: #ffffff !important;
}

/* Global Button Styles */
.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  gap: 7px;
  margin: 0px auto;
  max-width: 750px;
}

.box-button {
  width: 225px;
  cursor: pointer;
  border: 4px solid black;
  background-color: gray;
  padding-bottom: 10px;
  transition: all 0.1s ease-in-out;
  user-select: none;
  text-align: center;
  position: relative;
  margin-bottom: 0;
  min-width: 200px;
  min-height: 50px;
  z-index: 1;
}

.box-button button {
  background-color: #dddddd;
  border: 4px solid #fff;
  padding: 12px 12px;
  display: block;
  width: 100%;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: inherit;
  color: black;
  font-family: inherit;
}

.box-button:active,
.box-button.active {
  padding-bottom: 0;
  margin-bottom: 10px;
  transform: translateY(10px);
}

.box-button {
  box-shadow: 0 4px 0 rgba(0,0,0,0.2);
}

.box-button:active {
  box-shadow: 0 1px 0 rgba(0,0,0,0.2);
}

/* Slide button */
.slide-btn {
  font-family: 'Comfortaa';
  width: 200px;
  height: 50px;
  margin: 0px;
  background: black;
  color: white;
  border: none;
  border-radius: 0.625em;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 10000;
  overflow: hidden;
}

.slide-btn:hover {
  color: black;
}

.slide-btn:after {
  content: "";
  background: white;
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
}

.slide-btn:hover:after {
  transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.usage-button {
  background-color: var(--accent-color);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 25px;
  font-family: 'Comfortaa';
  transform:scale(1.25);
  margin-bottom: 10px;
}

.usage-button:hover {
  background-color: #3e6f8e;
}

.usage-dropdown {
  position: absolute;
  background-color: var(--background-color);
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border: 3px solid var(--table-outline);
  z-index: 10000;
}

.usage-dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.usage-dropdown li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.usage-dropdown li:last-child {
  border-bottom: none;
}
/* Table Header Styles */
th {
  background-color: var(--header-bg);
  color: var(--header-text);
  padding: 10px;
  text-align: center;
  border: 1px solid var(--border-color);
}

/* Light Mode */
:root {
  --header-bg: #2a2a2a;
  --header-text: #ffffff;
  --border-color: #e0e0e0;
}

/* Dark Mode */
[data-theme="dark"] th {
  --header-bg: #1a1a1a;
  --header-text: #ffffff;
  --border-color: #444;
}

/* Add smooth scrolling to the entire site */
html {
  scroll-behavior: smooth;
}

/* Support older browsers */
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
